@inject NavigationManager Navigation
@inject IAuthService AuthService
@inject NotificationService NotificationService
@inject AppState AppState

<MudAppBar Style="padding: 0 70px; height: 70px;">
    <MudText Typo="Typo.h5">LocalReads</MudText>
    <AuthorizeView>
        <Authorized>
            <a href="/" Class="custom-link d-flex justify-center align-center">
                Home
            </a>
            <a href="/mybooks" Class="custom-link d-flex justify-center align-center">
                My Books
            </a>
            <a href="/myserver" Class="custom-link d-flex justify-center align-center">
                My Server
            </a>
            <SearchBox />
        </Authorized>
    </AuthorizeView>
    <MudSpacer/>
    <AuthorizeView>
        <Authorized>
            <MudMenu MaxHeight="200" TransformOrigin="Origin.TopRight">
                <ActivatorContent>
                    <MudBadge Content="@NotificationService.NotificationCount" Overlap="true" Class="d-flex justify-center align-center">
                        <MudIcon Icon="@Icons.Material.Outlined.Notifications" />
                    </MudBadge>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem>
                            <MudText Typo="Typo.body2" Style="font-size: 10px">Mark all as read</MudText>
                    </MudMenuItem>
                    @foreach (var item in NotificationService.Notifications)
                    {
                        <MudMenuItem>
                            <MudElement Class="d-flex flex-column">
                                <MudText Typo="Typo.body2" Style="font-size: 10px">@item.Message</MudText>
                                <MudText Typo="Typo.body2" Style="font-size: 10px">@item.CreatedAt</MudText>
                            </MudElement>
                        </MudMenuItem>
                    }
                </ChildContent>
            </MudMenu>
            <a href="/" @onclick="LogOut" Class="custom-link d-flex justify-center align-center">
                <MudIcon Icon="@Icons.Material.Outlined.Logout" Title="LogOut"/>
            </a>
            <MudAvatar @onclick="ToProfile" Color="Color.Secondary" Class="cursor-default">@GetUsernameFirstLetter()</MudAvatar>
        </Authorized>
    </AuthorizeView>
</MudAppBar>

@code {

    protected override async Task OnInitializedAsync()
    {
        NotificationService.OnNotificationReceived += StateHasChanged;
        await NotificationService.StartAsync();
    }

    protected override void OnInitialized()
    {
        AppState.UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.UserState.OnChange -= StateHasChanged;
    }

    private string GetUsernameFirstLetter()
    {
        if (AppState.UserState.User == null)
            return "N";
        return AppState.UserState.User.UserName.Substring(0, 1).ToUpper();
    }

    private void ToProfile()
    {
        Navigation.NavigateTo("/profile/1");
    }

    private async Task LogOut()
    {
        await AuthService.Logout();
        Navigation.NavigateTo("/login");
    }

}